<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <script defer src="/javascripts/js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8577520755.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/heros"><img src="https://i.imgur.com/LGlL8MN.jpg" title="source: imgur.com" /></a>
        <a class="nav-text" href="/heros">All Heros</a>
        <% if (user) { %>
            <a class="nav-text" href="/heros/new">Create Hero</a>
            <a class="nav-text log" href="/logout">Log Out</a>
        <% } else {  %>
            <a class="nav-text log" href="/auth/google" class="login">Log In</a>
        <% } %> 
    </nav>
<main>