.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent
}

textarea {
  resize: none;
}

.hidden {
  display: none
}

html {
  font-family: 'Aboreto';
  height: 100%;
  background-image: url('https://i.imgur.com/g30L4tY.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input,
textarea {
  font-family: 'Aboreto';
  font-size: 18px;
  text-align: center;
  background: rgba(1, 1, 1, .3);
  color: white;
  width: 80%;
}

select {
  font-family: 'Aboreto';
  font-size: 18px;
  background: rgba(1, 1, 1, .3);
  color: white;
  text-align: center;
  width: 80%;
}

html,
a {
  color: rgba(210, 210, 210);
  text-decoration: none;
}

a:hover {
  color: grey
}

nav {
  margin: 20px 0 20px 20px;
  display: flex;
  flex-direction: row;
}

nav img {
  margin-right: 40px;
  border-radius: 10px;

}

nav img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.nav-text {
  padding: 25px 20px;
  font-size: 25px;
}

.nav-text:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.log {
  justify-content: baseline;
}

.index-h1,
.index-h3,
.new-h1 {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  height: 275px;
  width: 250px;
  order: 1;
}

.grid-item img {
  max-width: 100%;
  max-height: 80%;
  border-radius: 10px;
}

.grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.show-grid-container,
.comment-container {
  margin: 75px 200px;
  display: flex;
  flex-direction: row;
}

.show-grid-item {
  width: 50%;
  height: 500px;
}

.bio {
  position: relative;
}

.pAttribute,
.name {
  text-transform: uppercase;
}

.pAttribute {
  font-size: 30px;
}

.name {
  font-size: 80px;
  font-weight: bold;
  padding-bottom: 30px;
}

.lore {
  overflow: auto;
  max-width: 80%;
  max-height: 130px;
  font-size: 23px;
}

.lore::first-letter {
  text-transform: capitalize;
}

.bottom-bio {
  margin-top: 30px;
  position: relative;
  bottom: 0;
  text-transform: capitalize;
  font-size: 20px;
}

.atk-label,
.uName-label {
  font-size: 18px;
  color: grey;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.right-image {
  min-height: 350px;
}

.right-image img {
  max-width: 100%;
  max-height: 350px;
}

.abilities {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-top: 100px;
  width: 100%;
}

.ability {
  width: 81%;
}

.ability-show img {
  width: 90px;
}

.ability-name {
  font-size: 24px;
}

.comment-container {
  margin-top: 400px;
  padding-bottom: 200px;
}

.comment-container>div {
  width: 50%;
}

.comments .comment {
  margin-right: 200px;
  overflow: auto;
  height: 60px;
}

h1.new,
h1.edit-hero {
  text-align: center;
}

.new-grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-gap: 1em;

}

.new-grid-item {
  border: 1px solid rgb(27, 30, 35);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  text-align: center;
  height: 320px;
  width: 350px;
  padding-top: 30px;
}

.lore-container {
  padding-top: 30px;
}

.button-holder {
  display: flex;
  margin-top: 30px;
}

.new-btn {
  margin: 0 auto;
  margin-bottom: 200px;
}

.home-btn,
.edit-btn,
.delete-btn,
.new-btn,
.comment-btn {
  font: inherit;
  padding: 10px;
  background: rgba(10, 8, 7, .5);
  color: white;
  text-align: center;
}

.home-btn:hover,
.new-btn:hover,
.edit-btn:hover,
.delete-btn:hover,
.comment-btn:hover {
  background: rgba(10, 10, 10, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-btn {
  margin-bottom: 50px;
  width: 100%;
  height: 75px;
  font-size: 24px;
}

.new-btn {
  width: 20%;
  height: 50px;
  font-size: 25px;
}

.edit-btn,
.delete-btn {
  font-size: 14px;
  width: 75px;
}

.comment-btn {
  width: 200px;
}

.content1,
.content2,
.content3,
.content4 {
  /*  display: none;  remove */
  opacity: 0;
  /* add */
  transition: all;
  /* add */
  position: absolute;
  left: 550px;
  right: 0px;
  top: 900px;
  bottom: 0px;
  margin: auto;
  width: 0;
  /* [OPTIONAL] modify from 300px */
  height: 0;
  /* ditto */
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  overflow: auto;
  max-height: 200px;
}

.trigger1:hover+.content1,
.trigger1:focus+.content1,
.trigger2:hover+.content2,
.trigger2:focus+.content2,
.trigger3:hover+.content3,
.trigger3:focus+.content3,
.trigger4:hover+.content4,
.trigger4:focus+.content4 {
  /* add, for persistent display of content. click elsewhere to close again */
  /*  display: block; remove */
  opacity: 1;
  /* add */
  width: 500px;
  /* [OPTIONAL] add, see above */
  height: 200px;
}